:root {
    --spdColor: rgb(217, 77, 65);
    --unionColor: rgb(97, 89, 82);
    --afdColor: rgb(117, 192, 235);
    --fdpColor: rgb(245, 210, 51);
    --sonstigeColor: darkgrey;
    --linkeColor: rgb(181, 107, 184);
    --bswColor: rgb(191, 57, 100);
    --grüneColor: rgb(132, 196, 98);
}

body {
    background-color: #efefef;
}

.default-button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    height:fit-content;
    padding: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.default-button:hover {
    background-color: #E8E8E8FF;
}

.default-button:active {
    background-color: #E8E8E8FF;
    transform: translateY(2px);
}